/* In your CSS file or <style> tag */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the container */
}
.text-bold {
  font-weight: bold;
}
.margin-bottom-20{
  margin-bottom: 20px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}
.text-18{
  font-size: 18px !important;
}
.text-14{
  font-size: 14px !important;
}
.font-weight-900{
  font-weight: 900 !important;
}
.transparent-color{
  -webkit-text-stroke-width: 1.149999976158142;
  -webkit-text-stroke-color: var(--surface-bg, #FFF);
}